@model testapitsoft.Core.Dtos.OrderDto





<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Order" asp-action="Delete" method="post">

                <div class="input-group">
                    CustomerId
                    <input type="number" asp-for="CustomerId" name="CustomerId" />

                </div>
                <div class="input-group">
                    CustomerName
                    <input type="text" asp-for="CustomerUsername" name="CustomerName" />
                    
                </div>>

            </form>

        </div>

    </div>

</div>
